@font-face {
  font-family: 'cannon';
  src: url('../../public/cannon-sc-extra-bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'hellvatica';
  src: url('../../public/helvetica-oblique.ttf') format('opentype');
  font-style: normal;
}

/* ------------------ CARD BASE ------------------ */

.importCard {
  height: 31.25rem;
  aspect-ratio: 3/4;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: grey;
}

.card {
  height: 31.25rem;
  aspect-ratio: 3/4;

  position: relative;
  overflow: hidden; /* important */
}

/* ------------------ BACKGROUND IMAGE ------------------ */

.bgImage {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: 0;
}

/* ------------------ GRADIENT OVERLAY ------------------ */

.card::before {
  content: "";
  position: absolute;
  inset: 0;

  /* background: #000000; */
  /* background: linear-gradient(360deg, rgba(0, 0, 0, 1) 13%, rgba(255, 255, 255, 0) 70%); */

  background: #000000;
  background: linear-gradient(360deg, rgba(0, 0, 0, 1) var(--pos), rgba(255, 255, 255, 0) 60%);

  z-index: 1;
}

/* ------------------ CONTENT ------------------ */

.content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 23px;

  position: relative;
  z-index: 2; /* above gradient */
}

/* ------------------ TEXT ------------------ */

.swipe {
  display: block;
  width: fit-content;

  font-family: 'cannon';
  font-size: 10px;

  margin-top: 15.5px;
  color: white;
}

.type {
  display: block;
  width: fit-content;

  font-family: 'cannon';
  font-size: 10px;

  background-color: white;

  padding: 2px 8px;
  margin-bottom: 12px;
}

.news {
  font-family: 'cannon';
  font-weight: 700;
  font-size: 22px;

  letter-spacing: -0.06em;
  margin-bottom: 10px;

  color: white;
}

.caption {
  font-family: 'hellvatica';
  font-style: italic;

  margin: 0 0 13px 0;
  font-size: 10px;
  font-weight: 100;

  color: white;
}

/* ------------------ FOOTER ------------------ */

.footer {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
  margin-left: -10px;
}

.hr {
  height: 2px;
  width: 100%;

  margin-left: 12px;
  background-color: white;
}

/* make news all caps */
.line {
  text-transform: uppercase;
}

/* slider input fix */

.slider{
  writing-mode: vertical-lr;
  height: 500px;
  transform: rotate(180deg);
  appearance: none;
  background: transparent;
  touch-action: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 6px;
}

/* track */
input[type="range"]::-webkit-slider-runnable-track {
  background: #909090;
  width: 6px;
  border-radius: 10px;
}

/* thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #202020;
  border-radius: 50%;
  cursor: pointer;
}